<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title><%=title%></title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="/css/all.min.css">
    <link rel='stylesheet' href='/css/bootstrap.min.css'>
    <!-- import Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap"
        rel="stylesheet">
    <!-- /import Google fonts -->
<!-- import views css files -->
    <link rel="stylesheet" href="/css/home.css">
<!-- import views css files -->
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-light ">
        <div class="container">
            <a class="navbar-brand" href="/"><span class="super big">AWSOM</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item mx-2 active">
                        <a class="nav-link small" href="/">Home</a>
                    </li>
                    <%if(isUser){%>
                    <li class="nav-item mx-2">
                        <a class="small nav-link" href="/card">Card</a>
                    </li>

                    <li class="nav-item mx-2">
                        <a class="small nav-link" href="/orders">Orders</a>
                    </li>

                    <%}else{%>
                    <li class="nav-item mx-2">
                        <a class="small nav-link" href="/login">Login</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="small nav-link" href="/signup">Signup</a>
                    </li>
                    
                    <%}%>
                    <%if(isAdmin){%>
                    <li class="nav-item ">
                        <a class="small nav-link" href="/admin/addProduct">Add Product</a>
                    </li>
                    <li class="nav-item ">
                        <a class="small nav-link" href="/admin/orders">Manage Orders</a>
                    </li>
                    <%}%>
                </ul>
                <%if(isUser){%>
                <form action="/logout" method="POST" class="mx-2">
                    <input type="submit" value="logout" class="small btn btn-danger">
                </form>
                <%}%>
            </div>
        </div>
    </nav>